* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: block;
  align-items: baseline;
  justify-content: space-between;
  padding: 10px;
  background-color: gray;
  color: black;
}

.nav-links a {
  color: black;
}

.logo {
  font-size: 20px;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li {
  padding: 5px 14px;
}

.menu li:hover {
  background-color: lightgray;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

@media (max-width: 760px) {
  .menu {
    display: none;
    position: absolute;
    background-color: lightgray;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: gray;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
}

.body {
  text-align: center;
}

body {
  background: dimgray;
}

#container {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: auto;
  transform: rotate(45deg);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
